
/* SELECTORS BY TAGS*/
body{
    margin: 0;
    font-family: 'EB Garamond', serif;
}
h1{
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
h2{
    margin: 0;
    font-family: 'Playfair Display', serif;
}
h3{
    margin: 0;
    font-family: 'Playfair Display', serif;
}
h4{
    margin:0;
    text-align: right;
    font-family:'Courier New', Courier, monospace;
}

/* SELECTORS BY CLASS*/

.top_container{
    position: relative;

    background-color: #FF0032;
    height: 200px;
    width: 200px;
}
.mid_container
{
    position: relative;
    left: 200px;

    background-color: #3D1766;
    height: 200px;
    width: 200px;
}
.bot_container
{
    position: relative;
    left: 400px;

    background-color: #191825;
    height: 200px;
    width: 200px;
}
.mobile{
    position: sticky;
    left: 500px;
    top: 200px;

    background-color: aquamarine;
    height: 200px;
    width: 200px;
}