/*Tags Styles*/
body{
    background: linear-gradient(#fefefe,#DC2F2F,#040202);
    /* background-repeat: no-repeat;
    background-attachment: fixed; */

    margin: 0;

    color:#F8F8F8;
    font-size: 17px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
hr{
    background-color: transparent;
    width: 70%;
    border-style: dashed none none;
    border-width: 4px;
    border-color: #FF894C;
    border-radius: 0%;
}
h1{
    color:#363636;
    font-family: 'Playfair Display', serif;
}
h2{
    color:#F8F8F8;
    font-family: 'Playfair Display', serif;
}
h3{
    color:#F8F8F8;
    font-family: 'EB Garamond', serif;
}
h4{
    font-family: 'Courier New', Courier, monospace;
}


/*Classes Styles*/
.aContactMe{
    color: #ea5b5b;
}
.webPageHeader{
    margin: 30px;
    font-size: 137px;
}
.headerSubtitle{
    font-size: 17px;
    color: #131313;
}
.profilePicture{
    margin: 0;
    height: 500px;
}

/*Skills*/
.skill_row
{
    display: inline-block;
    margin: 70px 100px;
}
.skill_img{
    width:100px
}
.skill_imgRounded{
    background-color: #F8F8F8;
    border-radius: 100%;
    border-style: solid;
}

/*Softwares*/
.software_row{
    text-align: left;
    width:60%;
    margin: 50px auto;
    margin-bottom: 70px;
}
.software_row:nth-child(even)
{
    text-align: left;
}

.software_row:nth-child(odd)
{
    text-align: right;
}

.software_imgLeft{
    margin: 10px;
    width: 100px;
    float: left;
}
.software_imgRight{
    margin: 10px;
    width: 100px;
    float: right;
}

/*Contact & More*/
.btn{
    margin: 0;
    display: inline-block;
    background: #040202;
    background-image: linear-gradient(#DC2F2F,#040202);
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 28px;
    font-family: 'Playfair Display', serif;
    color: #F8F8F8;
    font-size: 20px;
    padding:15px;
    text-decoration: none;
}

.copyright{
     margin: 0;
}
